* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #767777;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #444;
    font-weight: 500;
  }
  
  textarea, 
  input[type="file"], 
  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  textarea:focus,
  input[type="file"]:focus,
  select:focus {
    border-color: #6a64f1;
    box-shadow: 0 0 5px rgba(106, 100, 241, 0.5);
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #6a64f1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5848e1;
  }
  
  .custom-options {
    display: flex;
    justify-content: space-between;
  }
  
  .custom-options select {
    width: 48%;
  }

  .vidbox {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }